# node files
dist
node_modules

# iOS files
Pods
Podfile.lock
Package.resolved
Build
/Build
/DerivedData
xcuserdata/
/.build
/Packages
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# macOS files
.DS_Store

# Android files
*.apk
*.ap_
*.dex
*.class
bin
gen
out
.gradle
build
/android/build
local.properties
proguard
*.log
.navigation
captures
*.iml
.idea
.externalNativeBuild

# Other
.gitattributes
